#mobileDropdown {
  display: none;
}
#mobileHeaderTitle {
  display: none;
}
#authMobileView {
  display: none;
}
#animeFormMobileView {
  display: none;
}
@media screen and (max-width: 760px) {
  #mobileDropdown {
    display: block;
  }
  #headerNavigationLinks {
    display: none;
  }
  #headerText {
    display: none;
  }
  #mobileHeaderTitle {
    display: block;
    text-align: center;
  }
  #authMobileView {
    display: block;
  }
  #authForm {
    height: 100vh;
    width: 100vw;
    padding: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    z-index: 2;
  }
  #animeFormMobileView {
    display: block;
  }
  #addAnimeForm {
    height: 100vh;
    width: 100vw;
    padding: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    z-index: 10;
  }
  #aboutContainer {
    margin-top: 100px;
  }
  #contact {
    margin-top: 100px;
  }
  .contactContainer {
    flex-direction: column;
  }
  #yourAnimeTopTenList {
    margin-top: 100px;
  }
  #addAnimeFormInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 85vh;
    padding: 20px;
  }
  .lettersContainer {
    gap: 0;
  }
  .listContainer {
   
    width: 100vw;
    margin-left: 0;
  }
}
