#mobileDropdown {
  display: none;
}
#mobileHeaderTitle {
  display: none;
}
#authMobileView{
     display: none;
}
@media screen and (max-width: 760px) {
  #mobileDropdown {
    display: block;
  }
  #headerNavigationLinks {
    display: none;
  }
  #headerText {
    display: none;
  }
  #mobileHeaderTitle {
    display: block;
    text-align: center;
  }
  #authMobileView{
     display: block;
  
}
  #authForm {
   
    height: 100vh;
    width: 100vw;
    padding: 0;
    top: 0;
    right: 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    z-index: -1;
  }
}
